<div class="image-box">
    {{> cswitcher}}
    <div class="image-box__image">
        <div class="image-box__title">Reference</div>
        <img src="{{referenceURL}}" alt="Reference image">
    </div>
    <button class="button image-box__replace">&#x2b05;</button>
    <div class="image-box__image">
        <div class="image-box__title">Current</div>
        <img src="{{currentURL}}" alt="Current image">
    </div>
    <div class="image-box__image">
        <div class="image-box__title">Diff</div>
        <img src="{{diffURL}}" alt="Diff image">
    </div>
</div>
