<div class="controls__item cswitcher">
    <div data-id="1" class="cswitcher__item cswitcher_color_1 cswitcher__item_selected"></div>
    <div data-id="2" class="cswitcher__item cswitcher_color_2"></div>
    <div data-id="3" class="cswitcher__item cswitcher_color_3"></div>
</div>
