<div class="image-box">
    {{> controls}}
    <pre class="stacktrace">No reference image available</pre>
    <div class="image-box__image">
        <img src="{{currentURL}}" alt="Current image">
    </div>
</div>
