<div class="image-box">
    {{> cswitcher}}
    <pre class="stacktrace">No reference image available</pre>
    <div class="image-box__image">
        <img src="{{currentURL}}" alt="Current image">
    </div>
    <button class="button button_type_accept">✓ Accept as reference</button>
</div>
