<div class="section {{#ifShouldCollapse status}}section_collapsed{{/ifShouldCollapse}} section_status_{{sectionStatus}}" data-suite-path="{{suite.path}}">
    <div class="section__title">
        {{suite.name}}
        <button
                class="button section__icon section__icon_copy-to-clipboard"
                title="copy to clipboard"
                data-clipboard-text="{{suite.path}}">
        </button>
    </div>
    <div class="section__body section__body_guided">
        {{#each states}}
            {{> state this}}
        {{/each}}

        {{#each children}}
            {{> suite}}
        {{/each}}
    </div>
</div>
