<div class="controls__item suite-controls">
    <button class="suite-controls__item suite-controls__item_disabled suite-controls__accept" disabled>Accept</button>
    <button class="suite-controls__item suite-controls__item_disabled suite-controls__retry" disabled>Retry</button>
</div>
